.topMenu {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:rgba(61, 120, 197, 0.59);
}
.elencositi {
    width: 1000px;
}
.elencoSiti ul{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;

}

table {
    width: 100%;
}

.articleWrap {
    width: fit-content;
    display: flex;
}

footer {
    background-color: rgb(120, 120, 120);
    margin: 0;
    padding: 0;}
body{
  background-color: antiquewhite;
}

/*ristoranti e bar*/
