
.topMenu {
    display: flex;
    flex-direction: row;
}

table {
    width: 100%;
}

.articleWrap {
    width: fit-content;
    display: flex;
}

footer {
    background-color: rgb(120, 120, 120);
    margin: 0;
    padding: 0;


header {
    height: 65px;
    width: 20%; 
    background-color:rgba(61, 120, 197, 0.59);
}

h2 {
    text-align: left;   
}

body{
  background-color: antiquewhite;

}